body {
  font-family: 'Roboto', Verdana, Helvetica, sans-serif;
  font-size: 14px;
}

.papertitle {
    font-family: 'Lato', Verdana, Helvetica, sans-serif;
    font-size: 14px;
    font-weight: 700;
  }